@{
    ViewBag.Title = "Liên hệ";
}

@section css{
<style>
    #map {
        height: 400px;
        width: 100%;
    }
</style>
}

@section scripts{
<script src="~/Scripts/webjs/easyResponsiveTabs.js"></script>
<script>
    function initMap() {
        var uluru = { lat: 16.0486971, lng: 108.2354558 };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 16,
            center: uluru
        });
        var marker = new google.maps.Marker({
            position: uluru,
            map: map
        });
    }
</script>

}

 <!--banner-->
<div class="banner-top">
    <div class="container">
        <h3>Contact</h3>
        <h4><a href="/Home/Index">Home</a><label>/</label>Contact</h4>
        <div class="clearfix"> </div>
    </div>
</div>

<!-- contact -->
<div class="contact">
    <div class="container">
        <div class="spec ">
            <h3>Contact</h3>
            <div class="ser-t">
                <b></b>
                <span><i></i></span>
                <b class="line"></b>
            </div>
        </div>
        <div class=" contact-w3">
            <div class="col-md-5 contact-right">
                <img src="~/Content/Images/Banners/bakerystore.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-md-7 contact-left">
                <h4>Contact Information</h4>
                <div id="container">
                    <!--Horizontal Tab-->
                    <div id="parentHorizontalTab">
                        <ul class="resp-tabs-list hor_1">
                            <li><i class="fa fa-envelope" aria-hidden="true"></i></li>
                            <li> <i class="fa fa-map-marker" aria-hidden="true"></i> </span></li>
                            <li> <i class="fa fa-phone" aria-hidden="true"></i></li>
                        </ul>
                        <div class="resp-tabs-container hor_1">
                            <div>
                                <form action="/Home/Contact" method="post">
                                    @Html.AntiForgeryToken()
                                    <input type="text" value="Name" name="FromName" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}" required="">
                                    <input type="email" value="Email" name="FromEmail" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
                                    <textarea name="Message" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message...';}" required="">Message...</textarea>
                                    <input type="submit" value="Submit">
                                </form>
                            </div>
                            <div>
                                <div class="map-grid">
                                    <h5>Our Branches</h5>
                                    <ul>
                                        <li><i class="fa fa-arrow-right" aria-hidden="true"></i>756 Global Place, New York.</li>
                                        <li><i class="fa fa-arrow-right" aria-hidden="true"></i>889 diamond street, USA.</li>
                                        <li><i class="fa fa-arrow-right" aria-hidden="true"></i>756 global Place, New York.</li>
                                        <li><i class="fa fa-arrow-right" aria-hidden="true"></i>889 diamond street, USA.</li>
                                    </ul>
                                </div>
                            </div>
                            <div>
                                <div class="map-grid">
                                    <h5>Contact Me Through</h5>
                                    <ul>
                                        <li>Mobile No : +123 456 7890</li>
                                        <li>Office No : +123 222 2222</li>
                                        <li>Home No : +123 456 7890</li>
                                        <li>Fax No : +123 456 7890</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Plug-in Initialisation-->
                <script type="text/javascript">
				$(document).ready(function() {
					//Horizontal Tab
					$('#parentHorizontalTab').easyResponsiveTabs({
						type: 'default', //Types: default, vertical, accordion
						width: 'auto', //auto or any width like 600px
						fit: true, // 100% fit in a container
						tabidentify: 'hor_1', // The tab groups identifier
						activate: function(event) { // Callback function if tab is switched
							var $tab = $(this);
							var $info = $('#nested-tabInfo');
							var $name = $('span', $info);
							$name.text($tab.text());
							$info.show();
						}
					});
				});
                </script>

            </div>

            <div class="clearfix"></div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div id="map"></div>
            </div>
        </div>
    </div>
</div>
<!-- //contact -->

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJW4PuEwBlrwteqERcoU4E-D3-QApQ-t0&callback=initMap">
</script>