@{
    ViewBag.Title = "Sent";
}
<link href="~/Content/display-product/checkout-successful-page.css" rel="stylesheet" />

<!--banner-->
<div class="banner-top">
    <div class="container">
        <h3>Sent Successful</h3>
        <h4><a href="index.html">Home</a><label>/</label>Sent</h4>
        <div class="clearfix"> </div>
    </div>
</div>

<div class="container checkout-successful-panel">
    <h2 class="title-checkout-successful">Sent mail Successful</h2>
    </br>
    <div class="ser-t">
        <b></b>
        <span><i></i></span>
        <b class="line"></b>
    </div>
    </br>
    </br>
    <h4 class="content-checkout-successful">
        You have successfully sent mail for us, we will contact you soon
    </h4>
    <h4 class="content-checkout-successful">Thank you.</h4>
</div>